// File: main.scss
// This file contains all imports
@charset 'UTF-8';

@import './abstracts/glob';
@import './base/glob';
@import './components/glob';
@import './pages/glob';
@import './themes/glob';
@import './vendors/glob';

.changed-input-color {
  label {
    div {
      p.block {
        color: rgb(51 65 85 / var(--tw-text-opacity));
      }
    }
  }
  input {
    &.form-input {
      color: rgb(51 65 85 / var(--tw-text-opacity));
    }
  }
  select {
    &.form-select {
      color: rgb(51 65 85 / var(--tw-text-opacity));
    }
  }
}
